* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/* Navbar */
.main-navbar {
  border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name {
  color: #fff;
}
.main-navbar .top-navbar .nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu {
  padding: 0px 0px;
  border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
  width: 20px;
  text-align: center;
  color: #2874f0;
  font-size: 14px;
}
.main-navbar .navbar {
  padding: 0px;
  background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link {
  padding: 8px 20px;
  color: #000;
  font-size: 15px;
}
.logo {
  width: 70px;
  height: 70px;
  padding-left: 10px;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .main-navbar .top-navbar .nav-link {
    font-size: 12px;
    padding: 8px 10px;
  }
}

/* Navbar End */

.product-image img {
  width: 100%;
  height: auto;
}

.product-thumbnails img {
  width: 22%;
  height: auto;
  cursor: pointer;
}

.thumbnail {
  border: 2px solid transparent;
  cursor: pointer;
}

.product-thumbnails img {
  width: 63px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.product-thumbnails img:hover {
  border-color: #e74c3c;
}

.bawah-nama p {
  font-size: 15px;
}

.bawah-nama span {
  color: #6c7588;
}

.product-price {
  font-size: 1.5rem;
  color: #333;
}

.price-discounted {
  color: #fe7e00;
  font-weight: bold;
  font-size: 38px;
  margin-right: 10px;
}

.persen {
  background: #ffdbe2;
  color: firebrick;
  font-size: 18px;
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;
  align-self: baseline;
}

.color-options .btn {
  margin-right: 10px;
}

.color-options .btn.active {
  background-color: #fe7e00;
  color: white;
  border-color: #fe7e00;
}

.order-summary {
  background-color: #f9f9f9;
}

.order-item {
  font-size: 1rem;
}

.order-price h4 {
  color: #e74c3c;
}

.order-price span {
  font-size: 0.9rem;
}

.btn-keranjang {
  color: white;
  background-color: #fe7e00;
}

.btn-keranjang:hover {
  background-color: #d56a00;
  color: white;
}

.btn-beli {
  color: #fe7e00;
  border: 1.5px solid #fe7e00;
  background: transparent;
}
.btn-beli:hover {
  color: #fe7e00;
  border: 1.5px solid #fe7e00;
}

/* SECTION 1 */
.section-1 {
  position: relative;
  overflow: hidden;
}

.section-1 img {
  width: 100%;
  height: auto;
}

.section-1 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.swiper-slide {
  background: none;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fe7e00;
}

/* Category Start */
.category-card {
  border: 1px solid #ddd;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  margin-bottom: 24px;
  background-color: #fff;
}
.category-card a {
  text-decoration: none;
}
.category-card .category-card-img {
  max-height: 260px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.category-card .category-card-body {
  padding: 10px 16px;
}
.category-card .category-card-body h5 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-align: center;
}

/* FLASH SALE */

.flash-sale {
  padding: 20px;
  border-radius: 10px;
}

.flash-sale .card {
  border: none;
  margin-left: 30px;
}

.flash-sale .card-title {
  font-size: 1rem;
}

.flash-sale .price {
  font-size: 18px;
  font-weight: bold;
}

.flash-sale .original-price {
  text-decoration: line-through;
  color: #999;
  font-size: 12px;
}

.flash-sale .discount {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.flash-sale .progress {
  height: 4px;
  border-radius: 5px;
}

.flash-sale .segera {
  font-size: 13px;
  font-weight: bold;
}

.lihat {
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #fe7e00;
}
.cek-promo {
  background: #9a99ff;
  padding: 2rem;
  border-radius: 15px;
  position: relative;
  width: 289px;
}

.card-card {
  position: absolute;
  display: flex;
  gap: 5px;
  margin-left: 150px;
  margin-top: 20px;
}

.card-card p {
  margin-bottom: 0;
}

.cek-promo button {
  padding: 5px 10px;
  background-color: white;
  font-weight: 400;
  font-size: 12px;
  border-radius: 20px;
}
.sk {
  font-size: 10px;
}

/* Product Card */
.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 24px;
}
.product-card a {
  text-decoration: none;
}
.product-card .stock {
  position: absolute;
  color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
  margin: 8px;
  font-size: 12px;
}
.product-card .product-card-img {
  max-height: 260px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.product-card .product-card-img img {
  width: 100%;
}
.product-card .product-card-body {
  padding: 10px 10px;
}
.product-card .product-card-body .product-brand {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  color: #937979;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-card .product-card-body .product-name {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-card .product-card-body .selling-price {
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin-right: 8px;
}
.product-card .product-card-body .original-price {
  font-size: 18px;
  color: #937979;
  font-weight: 400;
  text-decoration: line-through;
}
.product-card .product-card-body .btn1 {
  border: 1px solid;
  margin-right: 3px;
  border-radius: 0px;
  font-size: 12px;
  margin-top: 10px;
}
/* Product Card End */

/* Footer */
.footer-area {
  padding: 40px 0px;
  color: #fff;
}
.footer-area a {
  text-decoration: none;
}
.footer-area .footer-heading {
  font-size: 24px;
  color: #fff;
}
.footer-area .footer-underline {
  height: 1px;
  width: 70px;
  background-color: #ddd;
  margin: 10px 0px;
}
.copyright-area {
  padding: 14px 0px;
  background-color: #262626;
}
.copyright-area p {
  margin-bottom: 0px;
  color: #fff;
}
.copyright-area .social-media {
  text-align: end;
}
.copyright-area .social-media a {
  margin: 0px 10px;
  color: #fff;
  width: 20px;
}
