*{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-thumbnails img {
    width: 22%;
    height: auto;
    cursor: pointer;
}

.thumbnail {
    border: 2px solid transparent;
    cursor: pointer;
}

.product-thumbnails img {
    width: 63px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.product-thumbnails img:hover {
    border-color: #e74c3c;
}

.bawah-nama p{
    font-size: 15px;
}

.bawah-nama span{
    color: #6C7588;
}

.product-price {
    font-size: 1.5rem;
    color: #333;
}

.price-discounted {
    color: #FE7E00;
    font-weight: bold;
    font-size: 38px;
    margin-right: 10px;
}

.persen{
    background: #FFDBE2;
    color: firebrick;
    font-size: 18px;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    align-self: baseline;
}

.color-options .btn {
    margin-right: 10px;
}

.color-options .btn.active {
    background-color: #FE7E00;
    color: white;
    border-color: #FE7E00;
}

.order-summary {
    background-color: #f9f9f9;
}

.order-item {
    font-size: 1rem;
}

.order-price h4 {
    color: #e74c3c;
}

.order-price span {
    font-size: 0.9rem;
}

.btn-keranjang{
    color: white;
    background-color: #FE7E00;
}

.btn-keranjang:hover{
    background-color: #D56A00;
    color: white;
}

.btn-beli{
    color: #FE7E00;
    border: 1.5px solid #FE7E00;
    background: transparent;
}
.btn-beli:hover{
    color: #FE7E00;
    border: 1.5px solid #FE7E00;
}
/* Navbar */
.main-navbar{
    border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
    background-color: #2874f0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
    color: #fff;
}
.main-navbar .top-navbar .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: #2874f0;
    font-size: 14px;
}
.main-navbar .navbar{
    padding: 0px;
    background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link{
        font-size: 12px;
        padding: 8px 10px;
    }
}

/* SECTION 1 */
.section-1 {
    position: relative;
    overflow: hidden;
}

.section-1 img {
    width: 100%;
    height: auto;
}

.section-1 .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.swiper-slide{
    background: none;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Category Start */
.category-card{
    border: 1px solid #ddd;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    margin-bottom: 24px;
    background-color: #fff;
}
.category-card a{
    text-decoration: none;
}
.category-card .category-card-img{
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.category-card .category-card-body{
    padding: 10px 16px;
}
.category-card .category-card-body h5{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

/* FLASH SALE */

.flash-sale {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.flash-sale .card {
    border: none;
    margin-left: 30px;
}


.flash-sale .card-title {
    font-size: 1rem;
}

.flash-sale .price {
    font-size: 1.5rem;
    font-weight: bold;
}

.flash-sale .original-price {
    text-decoration: line-through;
    color: #999;
}

.flash-sale .discount {
    color: red;
    font-weight: bold;
}

.flash-sale .progress {
    height: 8px;
    border-radius: 5px;
}

.lihat{
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #FE7E00;
}
.cek-promo{
    background: #9A99FF;
    padding: 2rem;
    border-radius: 15px;
    position: relative;
    width: 289px;
}

.card-card{
    position: absolute;
    display: flex;
    gap: 5px;
    margin-left: 150px;
    margin-top: 20px;
}
.cek-promo button{
    padding: 5px 10px;
    background-color: white;
    font-weight: 400;
    font-size: 12px;
    border-radius: 20px;
}
.sk{
    font-size: 10px;
}